<h2>Hola soy la pagina de contacto</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil voluptatibus quam eius nesciunt cum porro rerum delectus animi rem ut molestias reprehenderit, molestiae enim aperiam quae. Eum quia placeat possimus.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente fugit, quisquam porro laborum dignissimos delectus enim nobis placeat voluptates similique minima consectetur ad ab pariatur assumenda. Corporis mollitia soluta deleniti?</p>