<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<nav>

    <ul>
        <li><a href="/cursos">Cursos</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/consultoria">Consultoria</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav> 